/* SeeUsers.css */

.see-users-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #f9f9f9; ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .see-users-title {
    text-align: center;
    margin-bottom: 20px;
    color: #00215E;
  }
  
  .see-users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .see-users-table th,
  .see-users-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .see-users-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .see-users-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .see-users-table tr:hover {
    background-color: #ddd;
  }
  
  .see-users-table td {
    color: #555;
  }
  
  .see-users-table th,
  .see-users-table td {
    text-align: left;
    padding: 8px;
  }
  
  .see-users-table th {
    background-color: #333;
    color: white;
  }
  
  .see-users-table tr:hover {
    background-color: #f5f5f5;
  }

  .user-dlt-btn{
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .user-dlt-btn:hover {
    background-color: #d32f2f;
  }