/* UserLogin.css */

body {
   
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
  }

  .theme-color {
    color: #FFC94A;
  }
  
  .login-container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    height: 40px;
  }
  
  .btn-signup {
    padding: 10px 20px;
    background-color: #FFC94A;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-signup:hover {
    background-color: #FFB830;
  }
  
  .login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2E2E2E;
    color: #fff;
  }
  
  .btn-login {
    width: 100%;
    padding: 10px;
    background-color: #FFC94A;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .btn-login:hover {
    background-color: #FFB830;
  }
  
  .forgot-password {
    display: block;
    margin-top: 10px;
    color: #ccc;
    font-size: 14px;
  }
  
  .signup-info {
    margin-top: 20px;
    text-align: center;
  }
  
  .signup-info p {
    margin-bottom: 10px;
  }
  
  .signup-info a {
    color: #FFC94A;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-info a:hover {
    text-decoration: underline;
  }
  