.user-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    height: 50px;
  }
  
  .logo {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .logo .theme-color {
    color: #FFC94A;
  }
  
  .nav-links {
    display: flex;
    list-style: none;

    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-links a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #FFC94A;
  }


  